
  
  /* banded rows matching admonitions */
  tr:nth-child(even) {
    background-color: #2094f322; 
  }
  
  th {
    background-color: #2094f3;
    color: white;
    text-align: left; 
  }
  
  /* compress table layout */
  
  .md-typeset table:not([class]) th,
  .md-typeset table:not([class]) td {
      padding: 6px 10px;
  }
  
  .md-typeset figure {
    text-align: left; 
    float: left;
  }
  
  .md-typeset figcaption {
    text-align: left; 
    font-size: 0.875em;
    max-width: 100%;
    float: left;
    margin-top: 0px;
  }
  
